<a href="https://colab.research.google.com/github/khansharifpg/Python_learning_881/blob/main/week_02_python_Input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#start

first_name = input ("Enter your first name: ")

last_name = input ("Enter your last name: ")

age = input ("Enter your age: ")

age_int = int (age)

#full_name = first_name + " " + last_name

#print ("Hi {0} {1}, How are you? " .format(first_name, last_name))


print ("Hi {0} {1}, How are u?" .format(first_name, last_name ))

print (" I am {0} years old.".format(str(age)))

Enter your first name: khan
Enter your last name: s
Enter your age: 20
Hi khan s, How are u?
 I am 20 years old

In [ ]:
print ("Your details: \n")

print ("\tName: \"John Smith\"")
print (" \tSN: \"2020300\"")

print( "\tEnrolment Record: ")

Your details:

	Name: "John Smith"
 	SN: "2020300"
	Enrolment Record:

In [26]:
#String format with alignment
print("Alkali metals:")
print()
#print("{0:<15}{1:<10}{2:^25}{3:>15}".format("Element", "Symbol", "Atomic number", "Atomic weight"))

print("{0:<15}{1:<10}{2:^25}{3:>15}".format("Element", "Symbol", "Atomic number", "Atomic weight"))

#Lithium Li 3 6.94

#print("{0:<15}{1:<10}{2:^25}{3:>15.0f}".format("Lithium", "Li", 3, 6.94))
print("{0:<15}{1:<10}{2:^25}{3:>15.3f}".format("Lithium", "Li", 3, 6.94))

Alkali metals:

Element        Symbol          Atomic number        Atomic weight
Lithium        Li                    3                      6.940

In [28]:
print("{0} x {1} = {2}".format(1, 5, 1*5))
print("{0} x {1} = {2}".format(2, 5, 2*5))

1 x 5 = 5
2 x 5 = 10