<a href="https://colab.research.google.com/github/khansharifpg/Python_learning_881/blob/main/week_01_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Learning python

first_name ="Sharif"
last_name ='Khan'
full_name = "Mr. " + first_name + " " + last_name

print(full_name);

Mr. Sharif Khan

In [ ]:
#using Data types:
# Int  ( int: an integer, a whole number)

age = 20.2;
print(age)

20.2

In [ ]:
#float: a decimal number
interest_rate = 5.2;
print(interest_rate)

5.2

In [ ]:
#bool: a boolean value is either True or False.

scan_completed = True
virus_found = False
print (scan_completed)

True

In [ ]:
#Variables & Data types
first_name="Sharif"
last_name='Khan'
virus_found = False
interest_rate = 5.3
age=20;

print(type(interest_rate));

<class 'float'>

In [ ]:
unit_price =10.5
quantity =12

cost =  unit_price * quantity
mobile_number = "0493689355"
student_number = "8030686BNN"

#String addition (concatenation)
first_name = "Khan"
last_name = 'Don'
full_name = first_name + " " +last_name

#String multiplication (with number)!
silly1 = "frog"  " " *7
silly2 = 5 * '' "I am Sam,"

#Get input from the user
first_name = input ("Enter your first name: ")
last_name = input ("Enter Your Last name: ")

full_name = first_name + " " + last_name

print (full_name)

Enter your first name: ff
Enter Your Last name: ww
ff ww

In [ ]:
subject1 = input ("Enter your first Subject code: ")
subject2 = input ("Enter your second Subject code: ")
subject3 = input ("Enter your third Subject code: ")

all_subject = subject1 + ', ' + subject2 + ', ' + subject3;

print("You have chosen " + all_subject + '.')

Enter your first Subject code: 33
Enter your second Subject code: rr
Enter your third Subject code: 33
You have chosen 33, rr, 33.

In [ ]:
#Convert number into string

fav_number = 7

print ("My favorite number is" +" " + str(fav_number))

My favorite number is 7

In [ ]:
#Convert string into number

user_input1 = input ("Enter your 1st integer number: ")
input_1 = int (user_input1)
user_input2 = input ("Enter your 2nd integer number: ")
input_2 = int(user_input2)

number_sum = input_1 + input_2

print ("The sum of "
       + str(input_1)
       + " and "
       + str(input_2)
       + " is "
       + str(number_sum))

Enter your 1st integer number: 2
Enter your 2nd integer number: 2
The sum of 2 and 2 is 4

In [ ]:
#Convert string into decimal number
user_input1 = input ("Enter 1st float number: ")
number_1 = float (user_input1)

user_input2 = input ("Enter 2nd float number: ")
number_2 = float (user_input2)

total_sum = number_1 + number_2

print("The sum of "
      + str(number_1)
      + " and "
      + str(number_2) + " is "

      + str(total_sum) + ".")

Enter 1st float number: 22
Enter 2nd float number: 22
The sum of 22.0 and 22.0 is 44.0.

In [ ]:
#Get input from the user
#If the information we need from the user is a string, then we just need one line of code: